POSTGRES_DB=code_racer
POSTGRES_USER=code_racer
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
ALLOWED_ORIGINS=http://localhost:5173
APP_ADMIN_BOOTSTRAP_ENABLED=false
APP_ADMIN_EMAIL=
APP_ADMIN_USERNAME=
APP_ADMIN_PASSWORD=
